.form{

}

header{
    height:100px;
    background: #1e1e1e;
    width: 100%;
    z-index:12;
    

}

.content-area{
    width:100%;
    position: relative;
    background: #5a5353;
    height: 1000px;
}
tr{
    margin-top: 10px;
}
.wrapper{
    width:100%;
    margin : 0 auto;

}.logo {
    width:100%;
        text-align: left;
    line-height:100px;
    text-decoration:none;
    font-size:19px;
    font-family: "Fredoka-One";
    color: #ffffff;
    letter-spacing:2px;
}
    td{
color: #ffffff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:15px;
font-style: bold;
padding: 8px;
}

.logo {
    width:100%;
        text-align: left;
    line-height:100px;
    text-decoration:none;
    font-size:19px;
    font-family:Ringbearer;
    color: #ffffff;
    letter-spacing:2px;
    text-align: center;
}

input [type= text]{

}


